.App {
  text-align: center;
  
}


.cnt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 height: 500px;
 
}

.btnn{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  
}

.btnn button{
  margin-top: 40px;
  margin-right: 20px;
  margin-left:20px;
  font-size:20px;
  width:100px;
}

.btnn button:hover{
  background-color:whitesmoke;
  color:black;
  cursor: pointer;

}

form{
  width:300px;
}

.login{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:400px;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  
}

.login-form label{
  font-size: 22px;
}

.login-form input{
  width: 240px;
  height:35px;
  margin-top:5px;
  margin-bottom:20px;
}

.login-form button{
  margin:20px;
}


.homenav{
  text-decoration: none;
}


.Mainclass{

  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.item-class{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(350px,1fr));
 
  height:100%;
 
}


.item-box{
  margin:20px;
  width:300px;
  height:300px;
}

.item-box img{
  margin:10px;
  width:200px;
  height:200px;
  
}

.addtocart p{
  font-size:20px;
  margin-top:10px;
}

.addtocart{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items: center;
 
}

.addtocart button:hover{
  color:black;
  background-color:white;
  cursor: pointer;
}

#order-btn{
  
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items: center;
  margin-top:20px;
  margin-bottom:30px;
}

.order-items{
  height:40px;
 
}


.address{
  border: 1px solid black;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-top:20px;
  margin-bottom:50px;
}

.address h2{
  margin: 30px;
}

.address input{
  width:300px;
  height:40px;
  margin:10px;
}

.od{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-top:20px;
  margin-bottom:50px;
}

.orders{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-top:20px;
  margin-bottom:50px;
  border:1px solid black;
  width:50%;
}

.item-pic{
  border:1px solid black;
  display: flex;
  padding-bottom:50px;
}

.item-box1{
  margin:5px;
  width:125px;
  height:125px;
  margin-bottom:40px;
}

.item-box1 img{
  margin:10px;
  width:80px;
  height:80px;
  
}



